<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.daddyswork.canappr"
        version   = "0.0.1">
    <name>Medit8</name>

    <description>
        Canappr (bite sized training) for meditation vertical
    </description>

	<author href="http://linedin.com/in/adtechzen" email="levexis@googlemail.com">
        Paul Cook et Al
    </author>
<preference name="phonegap-version" value="3.1.0" />


    <gap:platform name="android" />
    <gap:platform name="ios" />
    <icon src="www/images/crapicon.png" />
    <icon gap:platform="ios" height="60" src="icon-60.png" width="60" />
    <icon gap:platform="ios" height="72" src="icon-72.png" width="72" />
    <icon gap:platform="ios" height="120" src="icon-60@2x.png" width="120" />
    <icon gap:platform="ios" height="144" src="icon-72@2x.png" width="144" />
    <icon gap:platform="android" gap:density="ldpi" src="ic_launcher" />
    <icon gap:platform="android" gap:density="mdpi" src="ic_launcher2.png" />
    <icon gap:platform="android" gap:density="hdpi" src="ic_launcher3.png" />
    <icon gap:platform="android" gap:density="xhdpi" src="ic_launcher4.png" />

    <!-- android was crashing on start up when did remote build and seems to have been something to do with no size info -->
    <gap:splash gap:platform="android" src="www/screen/default.png" width="100%" height="100%" />
    <gap:splash gap:platform="ios" src="www/screen/default.png" width="2000" height="2000"/>

    <!-- this code makes the statusbar text white
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarStyle">
        <string>UIStatusBarStyleLightContent</string>
    </gap:config-file>
-->
<!-- subdomains = true not working on android so added * !-->
	<access origin="http://*.segment.io" subdomains="true" />
	<access origin="http://*.licdn.com" subdomains="true" /> <!-- allows photos to appear -->
	<access origin="http://*.akamaihd.net" subdomains="true" /> <!-- facebook photos -->
	<access origin="https://*.dropboxusercontent.com" subdomains="true" /> <!-- dropbox public link -->
    <access origin="http://localhost" subdomains="true" /> <!-- debugging -->

</widget>
