body,html {
    height: 100%;
}
.ca-submen {
    padding: 0px 20px;
    color: #666;
}
.ca-navcan {
    background: darkorange;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.ca-menu-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    width: 100px;
}
.ca-home h1 {
    color:darkorange;
}

.ca-home-course {
    color:white;
    background:DarkSeagreen;
    padding: 5px 10px;
    box-shadow: 0 8px 6px -6px black;
    margin: 2px 0px;
}
.ca-home p {
    text-align: center;
    padding: 2px;
}

.ca-clickable:hover {
    cursor: pointer;
}
.ca-audio-icon {
    padding: 0px 10px;
}

.ca-back {
    font-weight: normal;
    padding: 7px ;
}

.ca-navSearch {
    color: #666;
    padding: 2px;
    height: 100%;
    float: right;
    width:75%;
    display: block;
}
/* these need to autoresize */
.ca-main-list {
    height: 400px;
}
.ca-blurb {
    font-size: 11pt;
    transition: 2s linear all;
    text-align: center;
/*    box-shadow: 0 8px 6px -6px black; */
}
.ca-main-body p {
    padding: 5px;
}

.ca-arrow-right:after {
    border-width: 0;
    height: 0.64rem;
    width: 0.66rem;
    margin-top: -0.32rem;
    position: absolute;
    top: 50%;
    border-style: solid;
    border-width: 0.24rem 0.24rem 0 0;
    content: " ";
    display: inline-block;
    height: 0.5rem;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 0.5rem;
    border-color: #777777;
    right: 1rem;
    transform: rotate(45deg);
}

.ca-menu-item:hover {
    cursor: pointer;
}
.ca-switch {
    margin: 2px 5px;
}
.ca-subscribe {
    font-style: italic;
    font-color: gray;
    text-align: center;
}
.ca-progress {
    height: 30px;
    width: 80%;
    border-bottom: 1px dotted white;
    float:left;
}
.ca-wrapper {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}
.ca-even {
    background: lightblue;
}
.ca-duration {
    float: left;
    font-size: 10pt;
    padding: 2%;
    width: 10%;
    color: olivedrab;
    text-align: center;
}
.ca-progress:hover {
    cursor: pointer;
}
.ca-wrapper i:hover {
    cursor: pointer;
}
.ca-progress .time {
    position: absolute;
    left: 50%;
    color: #0ce3ac;
    font-weight: 800;
}
.ca-audio-bar {
    display: block;
    background-color: darkorange !important;
    height: 100% !important;
    margin: 0px 0px  !important;
}
.ca-main-empty {
    margin: 20px;
    text-align: center;
    color: gray;
}
.ca-play {
    text-align: center;
    color: green;
    display: inline;
    width: 15%;
    float: left;
}

#splash {
    background: darkorange;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:10000;
    height:100%;
}
.ca-hide {
    visibility: hidden;
}
.ca-not-available {
    color: gray;
}
.ca-content p {
    text-align: center;
    padding: 5px;
}
.topcoat-progress-bar {
    overflow: hidden;
    width: 250px;
    height: 1.25rem;
    margin: 20px;
    border-radius: 12px;
    background-color: #d3d7d7;
    box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-progress-bar > .progress {
    display: block;
    height: 100%;
    border-radius: 12px 0 0 12px;
    background-color: #e0f0fa;
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.progress--complete {
    width: 100%;
}
