<ons-page ng-controller="ContentCtrl" id="main" class="ca-content">
    <ons-scroller infinit-scroll-enable="true" >
        <h1 align="center">{{model.name}} <cd-switch model="isDownloaded" disabled="canDownload"></cd-switch></h1>
        <div class="ca-blurb">
            <p align="center" class="ca-main-body" ng-bind-html="model.html"></p>
        </div>
        <div ng-repeat="item in content">
            <cd-play-item src="{{item.file.url | cfurlDecode | cftrustUrl}}"/>
        </div>
        <p><!-- some extra scrolling space? -->&nbsp;</p>
    </ons-scroller>
</ons-page>

