<ons-page ng-controller="HomeCtrl" id="main">
<ons-scroller>
    <div class="animated fadeIn ca-home"><!-- had a problem with cd-transition on ons-page seemed to kill scroller !-->
        <div class="ca-blurb">
            <h1 align="center">Medit8</h1>
        </div>
        <div class="ca-main-empty" ng-show="!someFiltered">
            <p>Welcome to Medit8, you have not yet subscribed to any courses</p>
            <p><ons-button ng-click="go('org');">Get Started</ons-button></p>
        </div>
    </div>
</ons-scroller>
</ons-page>
