<ons-page ng-controller="HomeCtrl" id="main">
<ons-scroller>
    <div class="ca-home" cd-fade-in><!-- had a problem with cd-transition on ons-page seemed to kill scroller !-->
        <div class="ca-blurb">
            <h1 align="center">Medit8 <i class="fa fa-cogs"></i> Spirtituality, shared.</h1>
            <div class="ca-main-empty" ng-show="!courses.length">
                <p>Welcome to Medit8, you have not yet joined any courses</p>
                <p><ons-button ng-click="go('org');">Get Started</ons-button></p>
                <p ><ons-button ng-click="subscribeAll();" style="background-color: darkorange;" ng-hide="true">Download All</ons-button></p>
            </div>
        </div>
        <div ng-show="courses.length">
            <p>Below is the list of courses you are currently subscribed to.</p>
            <p ng-show="isNative">Modules listed with <i class="fa fa-file-audio-o"></i> are available for offline playback. You can remove the files by using the switch on the playback screen.</p>
            <cd-course-status ng-repeat="course in courses"></cd-course-status>
            <p><ons-button ng-click="go('org');">Find More</ons-button></p>
            <p><ons-button ng-click="resetFiles();" style="background-color: red;">Clear all</ons-button></p>
        </div>
    </div>
</ons-scroller>
</ons-page>
