<!--    do the text with directives eg ca-welcome or ca-head:welcome? Just a template?
        need to do an automatic translation so maybe put english in master template
        there is a way of doing this ! -->
<ons-page ng-controller="MainCtrl" id="main">
<ons-scroller infinit-scroll-enable="true" >
<div class="ca-blurb" ng-show="showBlurb">
    <h1 align="center">{{model.name}}</h1>
    <p align="center" class="ca-main-body" ng-bind-html="model.html"></p>
</div>
<div class="ca-main-empty" ng-show="!someFiltered"><p>Sorry, there are no {{collectionName}} from {{model.name}} available to you right now.</p></div>
<ons-navigator title="{{collectionName}}" ng-show="someFiltered" class="ca-main-list" >
    <ons-list scrollabe>
        <span ng-repeat="item in collection | filter:filterWhere | orderBy : name">
            <ons-list-item
                    class="topcoat-list__item--tappable topcoat-list__item__line-height"
                    ng-click="clickList( targetTemplate, { id: item.id , collection: target, item: item });">
                <i ng-class="['fa','fa-lg',collectionClass,'ca-right-arrow']">&nbsp;</i>
                {{item.name}}
            </ons-list-item>
        </span>
    </ons-list>
</ons-navigator>
</ons-scroller>
</ons-page>
